@using SnakesAndLadders.Domain.Repositories
@using SnakesAndLadders.Web.Dto

@page "/"
@inject NavigationManager NavManager
@inject IAuthenticationTokenRepository AuthenticationTokenRepository
@inject HttpClient HttpClient

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    protected async override Task OnInitializedAsync()
    {
        var token = await AuthenticationTokenRepository.GetAuthorizationToken();
        if (token is null) NavManager.NavigateTo("/login");
        else
        {
            var rooms = await HttpClient.GetFromJsonAsync<IReadOnlyCollection<ChatRoom>>("/chatrooms/public");
        }
    }
}